html, body {
  font-family: 'Lato', sans-serif !important;
  height:100%;
  margin:0;
  padding:0;
}

.dark-theme {
  color: #FAFAFA;
  background-color: #070707;
}

.light-theme {
  background-color: #FAFAFA;
  color: #070707;
}

#mode-circle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: small;
  text-align: center;
  cursor: pointer;
}

.navfix {
  margin-top: 60px;
}

a {
	color: #808080;
}

a:hover {
  color: #404040;
  text-decoration: none !important;
}

h3 {
  font-style: italic;
}

hr {
	border-top: 1px solid #e6e3ed;
}

img {
  width: 100%;
}

.post-img {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.btn-dark {
	background-color: #141414;
}

.navbar {
	padding-left: 40px;
	padding-right: 40px;
  margin-bottom: 60px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.apa {
	margin-left: 12mm;
	text-indent: -12mm; 
	margin-top: 1em;
	margin-bottom: 1em;
}

.project-entry {
  margin-bottom: 24px;
}

.project-link {
  margin-bottom: 8px;
}

.form-name {
  display: none;
}

/* https://github.com/FortAwesome/Font-Awesome/issues/4363#issuecomment-356445786 */
.fa-font:before {
  font-family: roboto;
  /* color: #429bf4; */
  font-size: 1.2em;
  content: "k";
}

/* lato-regular - latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/assets/fonts/lato-v15-latin-ext-regular.woff2') format('woff2'),
       url('/assets/fonts/lato-v15-latin-ext-regular.woff') format('woff'); 
}

/* lato-italic - latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'),
       url('/assets/fonts/lato-v15-latin-ext-italic.woff2') format('woff2'), 
       url('/assets/fonts/lato-v15-latin-ext-italic.woff') format('woff');
}
