:root {
  --background-color: #070707;
  --invert-font-color: #070707;
  --font-color: #FAFAFA;
  --code-bg-color: #070707;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: #62c4ff;
  --error-color: #ff3c74;
  --global-font-size: 16px
}
.terminal-nav {
  padding-bottom: 20px;
}
.terminal-menu li {
  margin-right: 1em;
}
.icon {
  height: 16px;
  filter: invert(100%) brightness(70%);
}
.grid {
  display: grid;
  align-items: center;
  grid-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: repeat( auto-fit, minmax(calc(var(--page-width) / 12), 1fr) );
}
.main {
  min-height: 80vh;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .hide-small {
      display: none;
  }
}