<!DOCTYPE html>
<html>

<head>
	<title>{{ site.author }} | {{ page.title }} </title>
	{% include head.html %}
	{% if page.id %}
		<link rel="stylesheet" type="text/css" href="/assets/css/highlight/atom-one-dark.css">
		<script src="/assets/js/highlight.pack.js"></script>
	{% endif %}
	{% if page.add_css %}
		{{ page.add_css }}
	{% endif %}
	{% if page.add_js %}
		{{ page.add_js }}
	{% endif %}
</head>

<body class="dark-theme">

    {% include navbar.html %}

    <div class="vertical-center">
		<div class="container-fluid navfix">
			{{ content }}
		</div>
	</div>

	<div id="mode-circle" class="light-theme">
		<div id="mode-desc" style="transform: translateY(75%);">light</div>
	</div>
    
</body>

</html>