html, body {
  height:100%;
  margin:0;
  padding:0;
}

body {
  font-family: 'Lato', sans-serif !important;
  color: #e6e3ed;
  background-color: #070707;
}

a {
	color: #808080;
}

a:hover {
  color: #404040;
  text-decoration: none !important;
}

hr {
	border-top: 1px solid #e6e3ed;
}

img {
  width: 100%;
}

.btn-dark {
	background-color: #141414;
}

.navbar {
	padding-left: 40px;
	padding-right: 40px;
  margin-bottom: 60px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /*margin-top: 60px; fix to prevent content under navbar*/
}

.apa {
	margin-left: 12mm;
	text-indent: -12mm; 
	margin-top: 1em;
	margin-bottom: 1em;
}

.project-entry {
  margin-bottom: 2em;
}